{include file="public/helpers/header.html"}
{include file="public/helpers/nav.html"}


<!--================Home Banner Area =================-->



<section class="section_gap big_features">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="main_title">
          <p class="top_title">Что это за сайт?</p>
          <p>Этот сайт посвящен программе по сбору показаний с приборов учета, их управлении и подготовке данных для
          сдачи в удобные для вас форматы.</p>
          <p>Так же вы можете стать нашим дистрибьютером.</p>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="impress_area">
  <div class="container">
    <div class="impress_inner">
      <h2>Заинтерисовались?</h2>
      <p>Мы можем предложить вам зарегестрировать свой демо-кабинет. Он будет действовать целый день.<br>
      По истечении дня вы сможете принять решение - пользоваться нашими услугами или нет.</p>
      <a class="primary_btn" href="/registration/trial"><span>Регистрация Демо</span></a>
    </div>
  </div>
</section>

<!--================End Home Banner Area =================-->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!--================Start Features Area =================-->
<section class="section_gap features_area">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="left_features">
          <img class="img-fluid" src="/lpage/img/f-img.png" alt="">
        </div>
      </div>
      <div class="col-lg-5 offset-lg-1">
        <h4>Из чего состоит система:</h4>
        <ul class="unordered-list">
          <li>Удобный интерфейс</li>
          <li>Система сбора показаний :
            <ul>
              <li>Ядро управления</li>
              <li>Программы фонового опроса</li>
            </ul>
          </li>
          <li>Сохранение резевной копии структуры</li>
          <li>Система оповещений</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!--================End Features Area =================-->



<!--================Srart Pricing Area =================-->
<section class="price_area section_gap_top">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="main_title">
          <p class="top_title">Наши цены</p>
        </div>
      </div>
    </div>
    <div class="price_inner row justify-content-center">
      <div class="col-lg-4 col-md-6">
        <div class="price_item">
          <div class="price_head">
            <h4>Стартовый</h4>
          </div>
          <div class="price_body">
            <ul class="list">
              <li><a href="#">10 лицензий</a></li>
              <li><a href="#">Место на облачном сервере</a></li>
              <li><a href="#">Помощь на старте</a></li>
              <li><a href="#">&nbsp;</a></li>
              <li><a href="#">&nbsp;</a></li>
            </ul>
          </div>
          <div class="price_footer">
            <h3>20 <span class="dlr">руб/мес.</span><br>
              <span class="dlr">1 лицензия</span></h3>
            <a class="primary_btn" href="#"><span>Начать</span></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="price_item">
          <div class="price_head">
            <h4>Уверенный</h4>
          </div>
          <div class="price_body">
            <ul class="list">
              <li><a href="#">1000 лицензий</a></li>
              <li><a href="#">Разворачивание на вашем сервере</a></li>
              <li><a href="#">Помощь на всем протяжении</a></li>
              <li><a href="#">Возможность перепродажи</a></li>
              <li><a href="#">Скидка <b>10%</b></a></li>
            </ul>
          </div>
          <div class="price_footer">
            <h3>18 <span class="dlr">руб/мес.</span><br>
              <span class="dlr">1 лицензия</span></h3>
            <a class="primary_btn" href="#"><span>Get Started</span></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="price_item">
          <div class="price_head">
            <h4>Профессионал</h4>
          </div>
          <div class="price_body">
            <ul class="list">
              <li><a href="#">10000 лицензий</a></li>
              <li><a href="#">Разворачивание на вашем сервере</a></li>
              <li><a href="#">Помощь на всем протяжении</a></li>
              <li><a href="#">Возможность перепродажи</a></li>
              <li><a href="#">Скидка <b>15%</b></a></li>
            </ul>
          </div>
          <div class="price_footer">
            <h3>16 <span class="dlr">руб/мес.</span><br>
              <span class="dlr">1 лицензия</span></h3>
            <a class="primary_btn" href="#"><span>Get Started</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Pricing Area =================-->


<!--================Impress Area =================-->
<section class="impress_area">
  <div class="container">
    <div class="impress_inner">
      <h2>Хотите поработать с нами?</h2>
      <p>Зарегестрируйтесь и вы получите доступ в личный кабинет и тестовым приборам учета.<br>
      У вас будет целый день, чтобы насладиться работой с приложением.</p>
      <a class="primary_btn" href="/registration/trial"><span>Демо доступ</span></a>
    </div>
  </div>
</section>
<!--================End Impress Area =================-->


<!--================Footer Area =================-->
<footer class="footer_area">
  <div class="container">
    <div class="row footer_inner">
      <div class="col-lg-5 col-sm-6">
        <aside class="f_widget ab_widget">
          <div class="f_title">
            <h3>About Me</h3>
          </div>
          <p>Do you want to be even more successful? Learn to love learning and growth. The more effort you put into
          improving your skills,</p>
          <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </aside>
        </div>
        <div class="col-lg-5 col-sm-6">
          <aside class="f_widget news_widget">
            <div class="f_title">
              <h3>Newsletter</h3>
            </div>
            <p>Stay updated with our latest trends</p>
            <div id="mc_embed_signup">
              <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
              method="get" class="subscribe_form relative">
              <div class="input-group d-flex flex-row">
                <input name="EMAIL" placeholder="Enter email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '"
                required="" type="email">
                <button class="btn sub-btn"><span class="lnr lnr-arrow-right"></span></button>
              </div>
              <div class="mt-10 info"></div>
            </form>
          </div>
        </aside>
      </div>
      <div class="col-lg-2">
        <aside class="f_widget social_widget">
          <div class="f_title">
            <h3>Follow Me</h3>
          </div>
          <p>Let us be social</p>
          <ul class="list">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a href="#"><i class="fa fa-behance"></i></a></li>
          </ul>
        </aside>
      </div>
    </div>
  </div>
</footer>
<!--================End Footer Area =================-->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/lpage/js/jquery-3.2.1.min.js"></script>
<script src="/lpage/js/popper.js"></script>
<script src="/lpage/js/bootstrap.min.js"></script>
<script src="/lpage/js/stellar.js"></script>
<script src="/lpage/js/jquery.magnific-popup.min.js"></script>
<script src="/lpage/vendors/nice-select/js/jquery.nice-select.min.js"></script>
<script src="/lpage/vendors/isotope/imagesloaded.pkgd.min.js"></script>
<script src="/lpage/vendors/isotope/isotope-min.js"></script>
<script src="/lpage/vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="/lpage/js/jquery.ajaxchimp.min.js"></script>
<script src="/lpage/vendors/counter-up/jquery.waypoints.min.js"></script>
<script src="/lpage/vendors/counter-up/jquery.counterup.min.js"></script>
<script src="/lpage/js/mail-script.js"></script>
<!--gmaps Js-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
<script src="/lpage/js/gmaps.min.js"></script>
<script src="/lpage/js/theme.js"></script>
</body>

</html>