<h1 style="color:#111;">D<font color="red">I</font>DOX</h1>

<h2 style="color:#333;">Подтверждение регистрации</h2>

<h3 style="color:cadetblue;">Не надо отвечать на это письмо.<br>
Оно cоздано системой оповещений.</h3>

<span style="color:#444;">Вы успешно зарегестрировались в системе.</span><br>
<span style="color:#444;">Для активации учетной записи, вам необходимо перейти по ссылке - <a href="{$linkregistration}">Подтвердить регистрацию</a></span><br>
<span style="color:#444;">Это сделано с целью обезопасить сервис от спам-сервисов.</span><br>
<br>
<b style="color:#444;">Это письмо будет доступно в течении 2 часов.</b><br>
<span  style="color:#444;">По истечении этого срока - ссылка перестанет действовать и вам нужно будет снова зарегестрироваться в системе.</span><br>
<br>
<b style="color:#444;"><b style="color:red;">?</b> Если вы удалите это письмо</b><br>
<span  style="color:#444;">Вам нужно будет зарегестрироваться повторно по истечении срока действия письма.</span><br>
<br>
<b style="color:#444;"><b style="color:red;">?</b> Если вы получили это письмо по ошибке</b><br>
<span  style="color:#444;">Нажмите <a href="{$linkdisableregistration}">сюда</a>, чтобы исключить ваш адрес из рассылки.</span>